<div class="btn-group btn-group-toggle" *ngIf="type !== 'header'"
     data-toggle="buttons">
    <label class="btn btn-sm btn-primary cursor-pointer"
           *ngFor="let btnGroup of btnGroupArr"
           [ngClass]="{'active': selectedIndex === btnGroup.itemIndex}"
            [ngStyle]="{'background-color': (selectedIndex !== btnGroup.itemIndex && addBackground) ? '#eeeeee' : ''}">
        <input type="radio" name="options" autocomplete="off"
               (click)="fnToggle(btnGroup)"
               [checked]="selectedIndex === btnGroup.itemIndex">
        <span *ngIf="btnGroup.fieldTitle === '700/800'">
            <i class="fa fa-hourglass-half"></i>
        </span>
    <span *ngIf="btnGroup.fieldTitle !== '700/800'">{{btnGroup.fieldTitle}}</span>
    </label>
</div>

<div class="btn-group btn-group-toggle headerToggle" *ngIf="type === 'header'"
     data-toggle="buttons">
    <label class="btn btn-primary">
        <input type="radio" name="options" autocomplete="off" (click)="fnToggleHeader(true)"> ON
    </label>
    <label class="btn btn-primary neutral active">
        <input type="radio" class="neutral" name="options" autocomplete="off" checked>
        <small><i class="fa fa-hourglass-half"></i></small>
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" autocomplete="off" (click)="fnToggleHeader(false)"> OFF
    </label>
</div>
