<!-- main-container -->
<div class="d-flex flex-grow-1 p-3">

  <!-- left-container -->
  <div class="d-flex flex-column flex-grow-1 mr-2 container-card">
    <!-- Header -->
    <div class="header px-3 py-2 d-flex justify-content-between align-items-center">
      <label class="m-0 h2">City Health<sup class="text-primary">
          <small>Live</small>
        </sup></label>
      <div class="d-flex justify-content-end align-items-center">
        <div class="input-group search-group mr-2">
          <input type="text" class="form-control" placeholder="Search Washington DC">
          <div class="input-group-append">
            <span class="input-group-text">
              <svg-icon src="assets/images/icons/magnifying-glass.svg"
                [svgStyle]="{ 'height.px':24, 'width.px':24, 'fill':'#bbbbbb' }"></svg-icon>
            </span>
          </div>
        </div>
        <svg-icon src="assets/images/icons/csv-file-format-symbol.svg" class="cursor-pointer"
          [svgStyle]="{ 'height.px':24, 'width.px':24 }"></svg-icon>
      </div>
    </div>
    <!-- Body -->
    <div class="header-acc bg-dark">
      <div class="d-flex">
        <div class="d-flex align-items-center w-75">
          <label [for]="'all'" class="check-input mr-3">
            <input type="checkbox" [id]="'all'" name="all" [checked]="isAllChecked()" (change)="checkAll($event)">
          </label>
        </div>
        <div class="d-flex align-items-center justify-content-between w-30">
          <label class="m-0">
            <svg-icon src="assets/images/icons/verified.svg" class="cursor-pointer fill-primary"
              [svgStyle]="{ 'height.px':20, 'width.px':20}"></svg-icon>
            <span class="text-white ml-2">2000</span>
          </label>
          <label class="m-0">
            <svg-icon src="assets/images/icons/round-error-symbol.svg" class="cursor-pointer fill-red"
              [svgStyle]="{ 'height.px':20, 'width.px':20}"></svg-icon>
            <span class="text-white ml-2">2000</span>
          </label>
          <label class="m-0">
            <svg-icon src="assets/images/icons/cancel.svg" class="cursor-pointer fill-orange"
              [svgStyle]="{ 'height.px':20, 'width.px':20}"></svg-icon>
            <span class="text-white ml-2">2000</span>
          </label>
          <app-toggle-switch [(toggled)]="toogleAll" size="large" theme="light" key="isTrue" [(dataArr)]="data"
            type="true"></app-toggle-switch>
        </div>
      </div>

    </div>
    <div class="flex-wrapper overflow-auto">
      <div class="d-flex flex-column">
        <div class="overflow-auto" style="flex: 1">
          <ngb-accordion #acc="ngbAccordion" class="custom-acc">
            <ng-container *ngFor="let obj of data; let i = index">
              <ngb-panel [id]="'custom-panel-' + i">
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="d-flex align-items-center">
                    <label [for]="'rowCheck' + i" class="check-input mr-3">
                      <input type="checkbox" [id]="'rrowCheckw' + i" name="rowCheck" [(ngModel)]="obj.state">
                    </label>
                    <svg-icon src="assets/images/icons/round-error-symbol.svg" class="cursor-pointer fill-red mr-3"
                      [svgStyle]="{ 'height.px':20, 'width.px':20}"></svg-icon>

                    <button ngbPanelToggle class="btn-toggle d-flex btn btn-link mr-3 p-0">
                      <svg-icon src="assets/images/icons/right-arrow.svg" class="right-arrow"
                        [svgStyle]="{ 'height.px':14, 'width.px':14}"></svg-icon>
                      <svg-icon src="assets/images/icons/down-arrow.svg" class="down-arrow"
                        [svgStyle]="{ 'height.px':14, 'width.px':14}"></svg-icon>
                    </button>
                    <label class="m-0 w-25 pl-1">{{obj.text1}}</label>
                    <label class="m-0 w-25 pl-1">{{obj.text2}}</label>
                    <label class="m-0 w-25 pl-1">{{obj.text3}}</label>
                    <div class="d-flex w-25 justify-content-end align-items-center">
                      <svg-icon src="assets/images/icons/bar-chart.svg" class="cursor-pointer mr-3"
                        [svgStyle]="{ 'height.px':24, 'width.px':24}"></svg-icon>
                      <app-toggle-switch [(toggled)]="obj.isTrue" size="small"></app-toggle-switch>
                    </div>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="d-flex expand-panel">
                    <div class="d-flex w-30">
                      <div class="avatar-container mr-2">
                        <img src="assets/images/icons/round-error-symbol.svg" width="100%">
                      </div>
                      <div class="d-flex flex-column w-100">
                        <label class="m-0">
                          <svg-icon src="assets/images/icons/pin.svg" class="cursor-pointer mr-1"
                            [svgStyle]="{ 'height.px':16, 'width.px':16, 'fill':'#bbbbbb'}"></svg-icon>
                          <small class="font-italic">{{obj.a1}}</small>
                        </label>
                        <label class="m-0">
                          <svg-icon src="assets/images/icons/hotel-with-three-floors.svg" class="cursor-pointer mr-1"
                            [svgStyle]="{ 'height.px':16, 'width.px':16, 'fill':'#bbbbbb'}"></svg-icon>
                          <small class="font-italic">{{obj.a2}}</small>
                        </label>
                      </div>
                    </div>
                    <div class="d-flex flex-column w-25">
                      <div class="d-flex flex-column align-content-center w-100">
                        <label class="m-0">
                          <svg-icon src="assets/images/icons/phone-call.svg" class="cursor-pointer mr-1"
                            [svgStyle]="{ 'height.px':16, 'width.px':16, 'fill':'#bbbbbb'}"></svg-icon>
                          <small class="font-italic">{{obj.b1}}</small>
                        </label>
                        <label class="m-0">
                          <svg-icon src="assets/images/icons/envelope.svg" class="cursor-pointer mr-1"
                            [svgStyle]="{ 'height.px':16, 'width.px':16, 'fill':'#bbbbbb'}"></svg-icon>
                          <small class="font-italic">{{obj.b2}}</small>
                        </label>
                      </div>
                    </div>
                    <div class="d-flex flex-column w-25">
                      <div class="d-flex flex-column align-content-center w-100">
                        <label class="m-0">
                          <svg-icon src="assets/images/icons/fingerprint.svg" class="cursor-pointer mr-1"
                            [svgStyle]="{ 'height.px':16, 'width.px':16, 'fill':'#bbbbbb'}"></svg-icon>
                          <small class="font-italic">{{obj.c1}}</small>
                        </label>
                        <label class="m-0">
                          <svg-icon src="assets/images/icons/placeholder.svg" class="cursor-pointer mr-1"
                            [svgStyle]="{ 'height.px':16, 'width.px':16, 'fill':'#bbbbbb'}"></svg-icon>
                          <small class="font-italic">{{obj.c2}}</small>
                        </label>
                      </div>
                    </div>
                    <div class="d-flex w-25">
                      <div class="d-flex align-items-center mr-2">
                        <svg-icon src="assets/images/icons/earth-globe.svg" class="cursor-pointer mr-1"
                          [svgStyle]="{ 'height.px':32, 'width.px':32, 'fill':'#bbbbbb'}"></svg-icon>
                      </div>
                      <div class="d-flex flex-column align-content-center w-100">
                        <label class="m-0">
                          <svg-icon src="assets/images/icons/ip.svg" class="cursor-pointer mr-1"
                            [svgStyle]="{ 'height.px':16, 'width.px':16, 'fill':'#bbbbbb'}"></svg-icon>
                          <small class="font-italic">{{obj.d1}}</small>
                        </label>
                        <label class="m-0">
                          <svg-icon src="assets/images/icons/hotel-with-three-floors.svg" class="cursor-pointer mr-1"
                            [svgStyle]="{ 'height.px':16, 'width.px':16, 'fill':'#bbbbbb'}"></svg-icon>
                          <small class="font-italic">{{obj.d2}}</small>
                        </label>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ng-container>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer px-3 py-2">
      Footer
    </div>
  </div>

  <!-- right-container -->
  <div class="d-flex w-25 flex-column">

    <!-- right-top-container -->
    <div class="d-flex flex-column flex-grow-1 ml-2 mb-2 container-card">
      <!-- Header -->
      <div class="header px-3 py-2">
        Header
      </div>
      <!-- Body -->
      <div class="body px-3 py-2 overflow-auto">
        Body
      </div>
      <!-- Footer -->
      <div class="footer px-3 py-2">
        Footer
        Footer
      </div>
    </div>

    <!-- right-bottom-container -->
    <div class="d-flex flex-column flex-grow-1 ml-2 mt-2 container-card">
      <!-- Header -->
      <div class="header px-3 py-2">
        Header
      </div>
      <!-- Body -->
      <div class="body px-3 py-2 overflow-auto">
        Body
      </div>
      <!-- Footer -->
      <div class="footer px-3 py-2">
        Footer
        Footer
      </div>
    </div>
  </div>
</div>
