<div class="modal-header">
    <div class="d-flex align-items-center ju flex-grow-1 mb-3">
        <h4 class="modal-title">{{doEnable ? 'Enable' : 'Disable'}} Switch</h4>
    </div>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="h-100 w-100 d-flex flex-column" *ngIf="!showDisableConfirmation">
        <label>Please select which switch do you want to {{doEnable ? 'enable' : 'disable'}}?</label>
        <div class="my-2" *ngFor="let switchObj of switchArr">
            <label [for]="switchObj.label" class="check-input">
                <input type="radio" [id]="switchObj.label" class="mr-2" [disabled]="isValueChanging"
                       name="switch" [value]="switchObj.value"
                       [(ngModel)]="selectedSwitch">
                {{switchObj.label}}
            </label>
        </div>
    </div>
    <div class="h-100 w-100 d-flex flex-column" *ngIf="showDisableConfirmation">
        <label>Are you sure? Disabling this will prevent it from being monitored.</label>
    </div>
</div>
<div class="modal-footer">
    <app-loader *ngIf="isValueChanging"></app-loader>
    <button class="btn btn-link pull-right" *ngIf="!isValueChanging"
            (click)="activeModal.dismiss('Cross click')">
        Cancel
    </button>
    <div *ngIf="!showDisableConfirmation">
        <button class="btn btn-primary pull-right" *ngIf="!isValueChanging"
                [disabled]="selectedSwitch === null"
                (click)="fnToggleAttribute()">
            {{doEnable ? 'Enable' : 'Disable'}}
        </button>
    </div>
    <div *ngIf="showDisableConfirmation">
        <button class="btn btn-primary pull-right" *ngIf="!isValueChanging"
                (click)="fnEnableDisableSwitch()">
            {{doEnable ? 'Enable' : 'Disable'}}
        </button>
    </div>
</div>
