@import "../../../scss/variables";

.search {
    width: 650px;
    box-shadow: 0 1rem 1rem 0rem rgba(0, 0, 0, 0.13) !important;
    border: 1px solid $light-gray;
    border-radius: 0.25rem;
    z-index:10000;
    #searchInput:focus {
        border: 1px solid #ced4da;
        box-shadow: none;
    }
    #dropdown {
        background-color: $light-gray;
        color: $white;
        border-radius: 0px;
    }
    .input-group-append {
        span {
            border-bottom-right-radius: 0px;
        }

    }
}




