<div class="search bg-white border-0">
    <div class="input-group">
        <div class="input-group-prepend">
            <div ngbDropdown class="d-inline-block">
                <button class="btn" ngbDropdownToggle id="dropdown">Zip</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Zip</button>
                    <button ngbDropdownItem>Area</button>
                    <button ngbDropdownItem>Latitude</button>
                    <button ngbDropdownItem>Longitude</button>
                </div>
            </div>
        </div>
        <input type="text" #searchInput class="form-control border-right-0 border-left-0 border-top-0"
               placeholder="Search">
        <div class="input-group-append">
            <span class="input-group-text bg-white px-1 border-left-0 border-right-0 border-top-0">
                <svg-icon src="assets/images/icons/magnifying-glass.svg" class="cursor-pointer mr-1 fill-light-gray "
                      [svgStyle]="{ 'height.px':20, 'width.px':20}"></svg-icon>
            </span>
        </div>
    </div>
    <div>
        <small class="m-2 text-primary">CRITICAL</small>
        <small class="m-2 text-primary">ATTENTION</small>
        <small class="m-2">Ok</small>
    </div>
</div>



