:host {
  flex-grow: 1;
  display: flex;
}

.map {
    height: 100%;
    padding: 0;
}

.search-bar {
    position: absolute;
    z-index:10000;
}

div.leaflet-container {
    width: 100%;
    height: 100%;
}



