<div class="w-100 d-flex align-items-center justify-content-center" *ngIf="isDeviceLoading">
    <app-loader></app-loader>
</div>
<div class="container-fluid d-flex p-3" *ngIf="!isDeviceLoading">
    <app-search-bar (searchChangeEvent)="fnSearch($event)" [zone]="zone"></app-search-bar>
    <div class="d-flex bg-light w-100">
        <app-custom-map [mapData]="filteredData" [zone]="zone"
                        [isGeoSearch]="isGeoSearch" [geoResult]="geoResult" [isReset]="isReset"
                        class="w-100 h-100"></app-custom-map>
    </div>
    <div class="position-absolute pull-right chart-div">
        <app-pie-chart [data]="pieData"></app-pie-chart>
    </div>
</div>

