<div class="container-fluid d-flex p-3 justify-content-center align-items-center">
    <div class="mr-4 d-flex flex-column border" style="height: 300px;width: 500px;">
        <div class="p-3 border-bottom">
            <h3 class="m-0">Account</h3>
        </div>
        <div class="px-3">
            <div class="py-3">
                <label>Name: Manny Dureja</label>
            </div>
            <div class="py-3">
                <label>Username: manny_dureja</label>
            </div>
            <div class="py-3">
                <label>Email: manny@exmaple.com</label>
            </div>
        </div>
    </div>
    <div class="border" style="width: 500px;height: 300px;">
        <div class="p-3 border-bottom">
            <h3 class="m-0">Password</h3>
        </div>
        <div class="p-3">
            <form class="d-flex flex-column"
                  *ngIf="!isSecurityMode"
                  role="form" [formGroup]="changePasswordForm" (ngSubmit)="fnGetAuthFields()">
                <small class="font-weight-bold">New Password</small>
                <input class="form-control mb-3" type="password"
                       formControlName="password" name="password" required>
                <small class="font-weight-bold">Confirm Password</small>
                <input class="form-control mb-3" type="password"
                       formControlName="confirmPassword" name="confirmPassword" required>
                <button class="btn btn-primary"
                        type="submit">
                    Next
                </button>
            </form>
            <form class="d-flex flex-column"
                  *ngIf="isSecurityMode"
                  role="form" [formGroup]="form" (ngSubmit)="fnChangePassword(model)">
                <formly-form [form]="form" [fields]="userFields" [model]="model"></formly-form>
                <button class="btn btn-primary text-uppercase"
                        [disabled]="form.status !== 'VALID'"
                        type="submit">
                    Change password
                </button>
            </form>
        </div>
    </div>
</div>
