<div class="modal-header">
    <div class="d-flex align-items-center ju flex-grow-1 mb-3" *ngIf="issue">
        <span class="badge ellipsis-badge font-weight-normal p-2 mr-3 text-white"
              *ngIf="issue && issue.labels"
              [ngStyle]="getIssuesLabelColor(issue.labels[0])">{{issue.labels[0].title.toUpperCase()}}</span>
        <h4 class="modal-title">{{issue.title}}</h4>
    </div>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="py-2 mt-4 mb-4">
        <div class="row no-gutters">
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <i class="fa fa-clock-o"></i>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col d-flex align-items-center">
                <span class="mr-5 text-muted">1 hour ago</span>
                <span>The 700 Mhz donor input changed to  -20dbm</span>

            </div>
        </div>
    </div>
</div>

