.w-20{
    width: 20%;
}

.timeline-modal-footer {
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
}
.timeline-modal-body  {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    height: 500px
}

.close, close:focus  {
    outline: none;
}




