<!-- main-container -->
<div class="d-flex flex-grow-1 p-3">

    <!-- left-container -->
    <div class="d-flex w-25 flex-column">

        <!-- left-top-container -->
        <div class="d-flex flex-column flex-grow-1 mr-2 mb-2 container-card">
            <!-- Header -->
            <div class="header px-3 py-2 d-flex justify-content-between align-items-center bg-orange">
                <label class="m-0 h3 text-white">Noah Place</label>
                <app-toggle-switch [(toggled)]="test"></app-toggle-switch>
            </div>
            <!-- Body -->
            <div class="body px-3 py-2 overflow-auto">
                <app-custom-map [mapData]="[device]" [centerLat]="centerLat" [centerLong]="centerLong"></app-custom-map>
            </div>
        </div>

        <!-- left-bottom-container -->
        <div class="d-flex flex-column flex-grow-1 mr-2 mt-2 container-card" *ngIf="device">
            <!-- Header -->
            <div class="header px-3 py-2">
                <label class="m-0 h3">Details</label>
            </div>
            <!-- Body -->
            <div class="body px-3 py-2 overflow-auto">
                <div class="d-flex align-items-center mb-3"
                     *ngIf="device.properties && device.properties.vaultId">
                    <svg-icon src="assets/images/icons/fingerprint.svg" class="fill-dark mr-2"
                              [svgStyle]="{ 'height.px':18, 'width.px':18 }"></svg-icon>
                    <small>{{device.properties.vaultId}}</small>
                </div>
                <div class="d-flex align-items-center mb-3"
                     *ngIf="device.properties && device.properties.ip">
                    <svg-icon src="assets/images/icons/placeholder.svg" class="fill-dark mr-2"
                              [svgStyle]="{ 'height.px':18, 'width.px':18 }"></svg-icon>
                    <small>{{device.properties.ip}}</small>
                </div>
                <div class="d-flex align-items-center mb-3"
                     *ngIf="device.gateway && device.gateway.name && device.gateway.oem">
                    <svg-icon src="assets/images/icons/antenna.svg" class="fill-dark mr-2"
                              [svgStyle]="{ 'height.px':18, 'width.px':18 }"></svg-icon>
                    <small>{{device.gateway.name}} {{device.gateway.oem}}</small>
                </div>
                <div class="d-flex align-items-center mb-3"
                     *ngIf="device.gateway && device.gateway.version">
                    <svg-icon src="assets/images/icons/microchip.svg" class="fill-dark mr-2"
                              [svgStyle]="{ 'height.px':18, 'width.px':18 }"></svg-icon>
                    <small>{{device.gateway.version}}</small>
                </div>
                <div class="d-flex align-items-center mb-3"
                     *ngIf="device.data && device.data.owner && device.data.owner[0]">
                    <svg-icon src="assets/images/icons/hotel-with-three-floors.svg" class="fill-dark mr-2"
                              [svgStyle]="{ 'height.px':18, 'width.px':18 }"></svg-icon>
                    <small>{{device.data.owner[0]}}</small>
                </div>
                <div class="d-flex align-items-center mb-3"
                     *ngIf="device.data && device.data.address && device.data.address[0]">
                    <svg-icon src="assets/images/icons/pin.svg" class="fill-dark mr-2"
                              [svgStyle]="{ 'height.px':18, 'width.px':18 }"></svg-icon>
                    <small>{{device.data.address[0]}}</small>
                </div>
                <div class="d-flex align-items-center mb-3"
                     *ngIf="device.data && device.data.tel && device.data.tel[0]">
                    <svg-icon src="assets/images/icons/phone-call.svg" class="fill-dark mr-2"
                              [svgStyle]="{ 'height.px':18, 'width.px':18 }"></svg-icon>
                    <small>{{device.data.tel[0]}}</small>
                </div>
                <div class="d-flex align-items-center mb-2"
                     *ngIf="device.data && device.data.email && device.data.email[0]">
                    <svg-icon src="assets/images/icons/envelope.svg" class="fill-dark mr-2"
                              [svgStyle]="{ 'height.px':18, 'width.px':18 }"></svg-icon>
                    <small>{{device.data.email[0]}}</small>
                </div>
                <div class="d-flex align-items-center mt-auto justify-content-end">
                    <div class="d-flex align-items-center">
                        <svg-icon src="assets/images/icons/earth-globe.svg" class="fill-dark mr-2"
                                  [svgStyle]="{ 'height.px':30, 'width.px':30 }"></svg-icon>
                    </div>
                    <div class="d-flex flex-column">
                        <div *ngIf="device.data && device.data.lat && device.data.lat[0]">
                            <small>Latitude: {{device.data.lat[0]}}</small>
                        </div>
                        <div *ngIf="device.data && device.data.long && device.data.long[0]">
                            <small>Longitude: {{device.data.long[0]}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- right-container -->
    <div class="d-flex w-75 flex-column">

        <!-- right-top-container -->
        <div class="d-flex flex-column flex-grow-1 ml-2 mb-2 container-card">
            <!-- Header -->
            <div class="header px-3 py-2 d-flex justify-content-between align-items-center">
                <label class="m-0 h3">Performance</label>
                <div>
                    <div class="btn-group mr-3">
                        <button type="button" class="btn btn-dark" style="margin-right: 2px">Split me</button>
                        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                            <button class="btn btn-dark dropdown-toggle-split" ngbDropdownToggle></button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button ngbDropdownItem>One</button>
                                <button ngbDropdownItem>Two</button>
                                <button ngbDropdownItem>Four!</button>
                            </div>
                        </div>
                    </div>
                    <svg-icon src="assets/images/icons/csv-file-format-symbol.svg" class="cursor-pointer"
                              [svgStyle]="{ 'height.px':26, 'width.px':26 }"></svg-icon>
                </div>
            </div>
            <!-- Body -->
            <div class="body px-3 py-2 overflow-auto">
                Body
            </div>
        </div>

        <!-- right-bottom-container -->
        <div class="d-flex flex-grow-1 ml-2 mt-2">
            <div class="d-flex flex-column flex-grow-1 mr-2 container-card w-50">
                <!-- Header -->
                <div class="header px-3 py-2 d-flex justify-content-between align-items-center">
                    <label class="m-0 h3">Alarms</label>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="input-group search-group mr-3">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-append">
                            <span class="input-group-text">
                              <svg-icon src="assets/images/icons/magnifying-glass.svg"
                                        [svgStyle]="{ 'height.px':24, 'width.px':24, 'fill':'#bbbbbb' }"></svg-icon>
                            </span>
                            </div>
                        </div>
                        <svg-icon src="assets/images/icons/csv-file-format-symbol.svg" class="cursor-pointer"
                                  [svgStyle]="{ 'height.px':26, 'width.px':26 }"></svg-icon>
                    </div>
                </div>
                <!-- Body -->
                <div class="body px-3 py-2 overflow-auto">
                    <div class="d-flex align-items-center flex-grow-1 mb-3">
                        <span class="badge badge-orange font-weight-normal p-2 mr-3">ATTENTION</span>
                        <label class="w-50 m-0 mr-2">Over Temp Alarm</label>
                        <small class="w-25 m-0 mr-2">Created 2 min ago</small>
                        <div class="flex-grow-1 text-right">
                            <svg-icon src="assets/images/icons/chat.svg" class="cursor-pointer"
                                      [svgStyle]="{ 'height.px':26, 'width.px':26 }"></svg-icon>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-grow-1 mb-3">
                        <span class="badge badge-orange font-weight-normal p-2 mr-3">ATTENTION</span>
                        <label class="w-50 m-0 mr-2">Over Temp temp Alarm</label>
                        <small class="w-25 m-0 mr-2">Created 20 min ago</small>
                        <div class="flex-grow-1 text-right">
                            <svg-icon src="assets/images/icons/chat.svg" class="cursor-pointer"
                                      [svgStyle]="{ 'height.px':26, 'width.px':26 }"></svg-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column flex-grow-1 ml-2 container-card w-50">
                <!-- Header -->
                <div class="header px-3 py-2 d-flex justify-content-between align-items-center">
                    <label class="m-0 h3">Telemetry</label>
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="input-group search-group mr-3">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-append">
                            <span class="input-group-text">
                              <svg-icon src="assets/images/icons/magnifying-glass.svg"
                                        [svgStyle]="{ 'height.px':24, 'width.px':24, 'fill':'#bbbbbb' }"></svg-icon>
                            </span>
                            </div>
                        </div>
                        <svg-icon src="assets/images/icons/csv-file-format-symbol.svg" class="cursor-pointer"
                                  [svgStyle]="{ 'height.px':26, 'width.px':26 }"></svg-icon>
                    </div>
                </div>
                <!-- Body -->
                <div class="body px-3 py-2 overflow-auto">
                    <div class="d-flex align-items-center flex-grow-1 mb-3">
                        <span class="badge badge-orange font-weight-normal p-2 mr-3">ATTENTION</span>
                        <label class="w-50 m-0 mr-2">Over Temp Alarm</label>
                        <small class="w-25 m-0 mr-2">Created 2 min ago</small>
                        <div class="flex-grow-1 text-right">
                            <svg-icon src="assets/images/icons/analytics.svg" class="cursor-pointer"
                                      [svgStyle]="{ 'height.px':26, 'width.px':26 }"></svg-icon>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-grow-1 mb-3">
                        <span class="badge badge-primary font-weight-normal p-2 mr-3">OK</span>
                        <label class="w-50 m-0 mr-2">Over Temp temp Alarm</label>
                        <small class="w-25 m-0 mr-2">Created 20 min ago</small>
                        <div class="flex-grow-1 text-right">
                            <svg-icon src="assets/images/icons/analytics.svg" class="cursor-pointer"
                                      [svgStyle]="{ 'height.px':26, 'width.px':26 }"></svg-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
