:host {
    flex-grow: 1;
    display: flex;
}

.w-15 {
    width: 15% !important;
}

.ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.card {
    background-color: transparent;
    border: none;
    border-radius: 0
}

.card-body {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
