:host {
    flex-grow: 1;
    display: flex;
}

.w-15 {
    width: 15% !important;
}

.ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
