:host {
  flex-grow: 1;
  display: flex;
}

.header {
    color: #6B6865;
}

input {
    color: #515151;
    font-weight: 600;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ACACAE;
    opacity: 1; /* Firefox */
    font-style: unset;
    font-weight: normal;
}

:-ms-input-placeholder, ::-ms-input-placeholder  { /* Internet Explorer 10-11 */ /* Microsoft Edge */
    color: #ACACAE;
    font-style: unset;
    font-weight: normal;
}

.text-label {
  border-left: solid 2px #ffffff;
}

.overlay {
  background-image: url("../../../assets/images/bg-0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%) opacity(0.2); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) opacity(0.2);
  left: 0;
  z-index: 0;
}

.container{
  z-index: 1;
}

.content{
  margin-bottom: 150px;
}
