/*.navbar {
  background: #3CB371;
  .nav-item {
    a.nav-link {
      color: #ffffff;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}*/

.nav-item.active {
  font-weight: bold;
}


.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
