html, body {
  height: 100% !important;
  font-family: 'Quicksand', sans-serif;
  background: #eeeeee;
}

.container-card {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(80, 80, 80, 0.5);
  -moz-box-shadow: 0px 1px 2px 0px rgba(80, 80, 80, 0.5);
  box-shadow: 0px 1px 2px 0px rgba(80, 80, 80, 0.5);

  .header {
    border-bottom: solid thin rgba(80, 80, 80, 0.5);
  }

  .body{
     flex: 1 0 1px;
  }

  .footer {
    border-top: solid thin rgba(80, 80, 80, 0.5);
  }
}

.cursor-pointer {
  cursor: pointer;
}

svg-icon {
  line-height: 0;
}

::placeholder {
  font-style: italic;
}

.search-group {
  input {
    border-right: transparent;
  }
  .input-group-append {
    .input-group-text {
      background: #fff;
      padding: 0.3rem;
    }
  }
}

.flex-wrapper {
     flex: 1 0 1px;
}
