$text-color: $input-text-color;
$placeholder-color: $placeholder-text;

html, body {
  height: 100% !important;
  font-family: 'Quicksand', sans-serif;
  background: #eeeeee;
}

input {
    color: $text-color;
    font-weight: 600;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholder-color;
    opacity: 1; /* Firefox */
    font-style: unset;
    font-weight: normal;
}

:-ms-input-placeholder, ::-ms-input-placeholder  { /* Internet Explorer 10-11 */ /* Microsoft Edge */
    color: $placeholder-color;
    font-style: unset;
    font-weight: normal;
}

.container-card {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(80, 80, 80, 0.5);
  -moz-box-shadow: 0px 1px 2px 0px rgba(80, 80, 80, 0.5);
  box-shadow: 0px 1px 2px 0px rgba(80, 80, 80, 0.5);

  .header {
    border-bottom: solid thin rgba(80, 80, 80, 0.5);
  }

  .body{
     flex: 1 0 1px;
  }

  .footer {
    border-top: solid thin rgba(80, 80, 80, 0.5);
  }
}

.cursor-pointer {
  cursor: pointer;
}

svg-icon {
  line-height: 0;
}

::placeholder {
  font-style: italic;
}

.search-group {
  input {
    border-right: transparent;
  }
  .input-group-append {
    .input-group-text {
      background: #fff;
      padding: 0.3rem;
    }
  }
}

.flex-wrapper {
     flex: 1 0 1px;
}

.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}
