$primary: #199b8a;
$dark: #424242;
$orange: #fc5425;
$red: #fb0d1c;
$white: #ffffff;
$light-gray: #bbbbbb;
$input-text-color: #515151;
$placeholder-text: #ACACAE;

$theme-colors: (
    "primary": $primary,
    "dark":$dark,
    "orange": $orange,
    "red": $red,
    "white":$white,
    "light-gray":$light-gray,
    "input-text-color": $input-text-color,
    "placeholder-text": $placeholder-text
);

@each $color, $value in $theme-colors {
    .fill-#{$color} {
        fill: $value
    }
}
